html {
  background: url(/images/plane_runway_large.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logout {
  background: none;
  border: none;
  color: #9d9d9d;
  padding-top: 16px;
  padding-bottom: 15px;
}

#logout:hover {
  color: #fff;
}
