<div class="jumbotron">
  <div class="container">
    <h1>Pick'em Up!</h1>
    <p>Have you ever forgotten to pick someone up at the airport?  Or, if you remember are you late because you didn't leave on time?  Sign up or Login and you'll always remember to Pick'em up!</p>
    <p><a class="btn btn-primary btn-lg" href="/users/new" role="button">Sign up &raquo;</a></p>
  </div>
</div>
